<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
   <script defer src="https://pyscript.net/alpha/pyscript.js"></script> -->
   <link rel="stylesheet" href="{hokie-fest.css}">

</script>
    <title>Find a Recipe</title>
</head>
<body>
    <header>
        <h1>
            Find a Recipe
        </h1>
    </header>
    <nav>
        <a href="{{ url_for('home_page') }}">Home</a>
        <a href="{{ url_for('inventory') }}">Inventory</a>
        <a href="{{ url_for('find_a_recipe') }}">Find a Recipe</a>
        <ul id="menu-meals">
            <li><a href="{{ url_for ('meals_ive_had')}}">Meals I've Had</a></li>
        </ul>
    </nav>
    {% if steps_list %}
        <ul>
            {% for step in steps_list %}
                <li>{{ step }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No steps available.</p>
    {% endif %}


    
</body>
</html>